@font-face {
    font-family: 'Trajan Pro Bold';
    src: url('fonts/sh.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Trajan Pro Bold", serif;
    background: url("/res/pop.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em gray;
    color: #F2F2F2;
    font-size: 19px;
    scroll-behavior: smooth;
}

.title-header {
    min-width: 550px;
    height: 225px;
    margin-bottom: -15px;
    padding-top: 30px;
    color: lightgray;
}


.cont h1 {
    width: 225px;
    margin: 0 auto 8px 35%;
    font-family: "Trajan Pro Bold", serif;
    text-align: center;
    font-weight: normal;
    font-size: 80px;
    line-height: 64px;
    white-space: nowrap;
}

.gradient {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em gray;
    margin-bottom: -120px;
    padding-bottom: -120px;
}

.title-naming {
    width: 255px;
    margin: 0 auto -50px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.overview {
    margin-top: -75px;
}

.arcana {
    max-width: 1600px;
    margin: 0 auto 0 50px;
    overflow: hidden;
}

.arcana img {

    float: left;
    margin-right: 50px;
    margin-bottom: -10px;
    margin-left: 0;
    object-fit: fill;
    width: 550px; /* adjust the value as needed */
    height: auto; /* set the height to auto to maintain aspect ratio */
}


.arcana p {
    margin-top: 60px;
    max-width: 5px;
    margin-right: -200px;
}

.arcana h5 {
    text-align: center;
    margin-bottom: 5px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./res/wk_icon.webp');
    background-size: cover;
    margin-right: 10px;
}

.description {
    margin-top: -19px;
    margin-right: 50px;
}

.items-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.next-page-items {
    height: calc(100vh); /* Задайте высоту, равную разнице между высотой экрана и высотой других элементов */
    position: relative; /* Задайте относительное позиционирование */
    top: 10vh; /* Сдвиньте контейнер на высоту одного экрана */
    min-height: 100%;
    overflow: auto;
}

.down {
    position: absolute;
    bottom: 5vh;
    display: block;
    opacity: 0.5;
    font-size: 60px;
}

.next-page-items.visible {
    display: block;
}

h2 {
    text-align: center;
}

.down-row {
    transition: opacity 0.5s, transform 0.5s;
    font-size: 60px;
    margin: auto 50% 2%;
    opacity: 0.5;
    cursor: pointer;
}

.down-row:hover {
    opacity: 1;
    transform: translateY(5px);
    cursor: grab;
}